.app-wrapper {
    width: 100%;
    height: 100%;
    cursor: none !important; 
}

.intro-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

h1 {
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 5vw;
    margin-block-start: 0;
    margin-block-end: 0;
}

.intro-screen p {
    max-width: 60ch;
    text-align: center;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.5vw;
}

.custom-cursor {
    position: fixed;
    pointer-events: none;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
    z-index: 999;
  }
  
.custom-cursor.hovered {
    transform: translate(-50%, -50%) scale(6);
}

.custom-cursor.opacity {
    opacity: 0.3;
}

.custom-cursor.large {
    width: 30px !important;
    height: 30px !important;
  }

  .canvas2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

.near-button {
    transition: all 0.25s ease-in-out;
  }

.song-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'GT Eesti Pro Display';
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30vh;
    gap: 3vh;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.song-wrapper.active {
    opacity: 1;
  }

.song-preview,
.song-info {
    padding: 0 8vw;
    max-width: 50%;
    opacity: 0;
    pointer-events: none;
}

.song-wrapper h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 5.5vw;
    line-height: 0.9;
    font-weight: bold;
    max-width: 10ch;
}

.song-wrapper h3 {
    font-size: 1.2vw;
    font-weight: 100;
    letter-spacing: 1px;
}

.artist {
    font-weight: bold;
}

.song-wrapper p {
    font-weight: 100;
    font-size: 1vw;
    letter-spacing: 1px;
    max-width: 50ch
}

.song-info button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: none;
    font-family: 'GT Eesti Pro Display';
    font-weight: bold;
}

.btn-back {
    position: absolute;
    top: 50%;
    right: 5vw;
    appearance: none;
    border: 0;
    background: transparent;
    color: #ff5353;
    font-weight: 700;
    cursor: none;
}

.btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    appearance: none;
    border: 0;
    background: white;
    color: #ff5353;
    font-weight: 700;
    transform: translate(-50%, -50%);
    cursor: none;
}

.btn-goto {
    pointer-events: all;
    cursor: none;
    color: white;
}

