@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
        url('/fonts/GTEestiProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/fonts/GTEestiProDisplay-Thin.woff2') format('woff2'),
        url('/fonts/GTEestiProDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('/fonts/GTEestiProDisplay-Bold.woff2') format('woff2'),
        url('/fonts/GTEestiProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bandeins Strange";
    src: url("/fonts/BandeinsStrangeVariable.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTPressuraMono';
    src: url('/fonts/GTPressuraMono.woff2') format('woff2'),
        url('/fonts/GTPressuraMono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTPressuraMono';
    src: url('/fonts/GTPressuraMono-Bold.woff2') format('woff2'),
        url('/fonts/GTPressuraMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTPressuraMono';
    src: url('/fonts/GTPressuraMono-Light.woff2') format('woff2'),
        url('/fonts/GTPressuraMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
    cursor: none; 
}

html,
body,
#root
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

.hide {
    display: none !important;
  }

  .dg.ac {
    z-index: 999999 !important;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}