#scrollable {
    height: auto;
    position: relative;
    z-index: 99;
}

#scrollable h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    font-family: "Bandeins Strange";
    text-align: center;
    font-size: 2.5vw;
    color: #fff;
    font-variation-settings: 'wght' 200, 'wdth' 100;
}

#scrollable h1 > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}

#scrollable p {
    font-family: 'GT Eesti Pro Display';
    font-size: 3vw;
    padding: 15rem;
    margin-bottom: 15rem;
    color: white;
}

#scrollable #start-button {
    margin: 15rem;
}

.app-wrapper + div {
    animation: blurEffect 7s ease-out forwards;
}

@keyframes blurEffect {
    0% {
      filter: blur(14px);
    }
    100% {
      filter: blur(0);
    }
  }