#scrollable {
    height: auto;
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#scrollable h1 > span:nth-of-type(12) {
    opacity: 1;
}

.scroll-down {
    position: fixed;
    opacity: 0;
    top: 92vh;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'GTPressuraMono', monospace;
    color: #69635e;
    font-size: 13px;
    letter-spacing: 0.3px;
}

@media (max-width: 1024px) {
    .scroll-down {
        font-size: 0.8rem;
    }
}

.scroll-down::before {
    content: "";
    width: 2px;
    height: 2.3rem;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #b7aea7;
    margin-top: 0.85rem;
}

.scroll-down::after {
    content: "";
    width: 2px;
    height: 2.3rem;
    background-color: #34312f;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 0.85rem;
    animation: fillUp 1.5s infinite;
}

@keyframes fillUp {
    0% {
        height: 0;
    }
    100% {
        height: 2.5rem;
    }
}

#scrollable .splitting .words {
    opacity: 0.1;
}

.app-wrapper + div {
    animation: blurEffect 7s ease-out forwards;
}

@keyframes blurEffect {
    0% {
      filter: blur(14px);
    }
    100% {
      filter: blur(0);
    }
  }

#scrollable #hello-text {
    font-family: 'GTPressuraMono', monospace;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: 9.9vw;
    font-weight: normal;
    text-align: left;
    word-break: break-all;
    padding: 1vh 2vw;
    margin: 0;
    line-height: 1;
    color: #bcb9b8;
    opacity: 0.5;
}

#scrollable #hello-text .word {
    display: inline;
}

#hello-title-2 {
    display: none;
    color: #675b5b;
}

#scrollable p {
    font-family: 'GTPressuraMono', monospace;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: 5vw;
    font-weight: normal;
    text-align: left;
    padding: 1vh 2vw;
    margin-top: 75vh;
    line-height: 1;
    color: #f0e0e0;
    opacity: 0.7;
}

#start-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* margin-top: 75vh; */
}
/* 
@media screen and (max-width: 1024px) {
    #start-container {
    margin-top: 100vh;
}
    
} */

/* .start-btn {
    font-family: 'GTPressuraMono', monospace;
    text-transform: uppercase;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background: linear-gradient(145deg, rgba(244, 230, 236, 0.45), rgba(255, 235, 235, 0.45));
    position: absolute;
    bottom: 19%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(10px) grayscale(41%) hue-rotate(31deg) brightness(110%);
    appearance: none;
    border: none;
    cursor: none;
    transition: transform 0.2s ease-in-out;
    transform-style: preserve-3d;
}

.start-btn:hover {
    font-variation-settings: 'wght' 600, 'wdth' 800;
}

.ring {
    --char-count: 33;
    --inner-angle: calc((360 / var(--char-count, 33)) * 1deg);
    --character-width: 2.0;
    --radius: calc((var(--character-width, 2.0) / sin(var(--inner-angle))) * -1ch);
    --font-size: 1.0rem;
    text-transform: uppercase;
    font-size: calc(var(--font-size, 1) * 1rem);
    animation: spin 10s infinite linear;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
  }

  .start-btn:hover .ring {
    animation-play-state: paused;
  }

  .start-btn.inactive .ring {
    opacity: 0;
  }

  .ring .char {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
        translate(-50%, -50%)
        rotate(calc(var(--inner-angle) * var(--char-index)))
        translateY(var(--radius));
}
    
@keyframes spin {
    to {
      rotate: 360deg;
    }
  } */

  .start-btn {
    font-family: 'GTPressuraMono', monospace;
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    appearance: none;
    border: none;
    cursor: none;
    transition: transform 0.2s ease-in-out;
}

/* @media (max-width: 1336px) {
    .start-btn {
        bottom: 15%;
    }
}
*/

.loader__svg {
    transform-origin: center;
    transition: transform .4s cubic-bezier(.5, 1, .89, 1);
    overflow: visible;
    width: 15vw;
    height: 15vw
}

.loader__svg circle {
    fill: none;
    stroke-width: 2;
    stroke: #eee4e4;
}

.loader__svg .loader__svg-static {
    opacity: .4
}

.loader__svg .loader__svg-percent {
    opacity: .6
}

.loader__loaded {
    opacity: 0
}

.loader__loaded .loaded__circles {
    transition: transform .4s cubic-bezier(.5, 1, .89, 1);
    transform-origin: center
}

.loader__loaded .loaded__circle {
    transition: stroke .4s cubic-bezier(.5, 1, .89, 1);
    stroke: #eee4e4;
    stroke-width: 1
}

.loader__loaded .loaded__circle:nth-child(1n) {
    opacity: 1
}

.loader__loaded .loaded__circle:nth-child(2n) {
    opacity: .8
}

.loader__loaded .loaded__circle:nth-child(3n) {
    opacity: .6
}

.loader__loaded .loaded__circle:nth-child(4n) {
    opacity: .4
}

.loader__loaded .loaded__circle:nth-child(5n) {
    opacity: .2
}

.loader__loaded .loaded__circle:nth-child(6n) {
    opacity: 0
}

.loader__info {
    position: absolute;
    text-align: center;
    bottom: 55px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: Next;
    font-weight: 500;
    letter-spacing: .3em;
    line-height: 1em;
    width: 100%;
    max-width: 75%;
    line-height: 1.7em
}

@media only screen and (max-width: 400px) {
    .loader__info {
        font-size:12px
    }
}

@media only screen and (min-width: 1025px) {
    .loader__info {
        font-size:11px
    }
}

@media only screen and (min-width: 2200px) {
    .loader__info {
        font-size:16px
    }
}

@media only screen and (min-width: 768px) {
    .loader__info {
        max-width:50%
    }
}

@media only screen and (min-width: 1025px) {
    .loader__info {
        max-width:340px
    }
}

.loader__info .loader__audio-disable {
    cursor: pointer
}

.loader__ready .loader__item {
    cursor: pointer;
    pointer-events: all
}

.loader__ready .loader__item.clicked {
    transition: transform .6s cubic-bezier(.905, .1, .735, .445);
    transform: scale3d(0,0,1)
}

.loader__item:hover .loaded__circles {
    transform: scale3d(.93,.93,1);
    transition: transform .8s cubic-bezier(.5, 1, .89, 1);
}

.loader__item:hover .loaded__circle {
    stroke: #ff5353;
    transition: stroke .8s cubic-bezier(.5, 1, .89, 1)
}

.loader__item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 100%;
    color: #eee4e4;
    transition: all .6s cubic-bezier(.5, 1, .89, 1);
    font-size: 0.8vw;
    letter-spacing: 0.6vw;
}

@media (max-width: 1024px) {
    .loader__item span {
        font-size: 1.15vw;
    }
}

.loader__item:hover span {
    color: #ff5353;
    letter-spacing: 0.3vw;
}