#scrollable {
    height: auto;
    position: relative;
    z-index: 99;
}

#scrollable h1 {
    font-family: "Bandeins Strange";
    text-align: center;
    margin-top: 47vh;
    margin-bottom: 30vh;
    font-size: 4.5vw;
    color: #222020;
    font-variation-settings: 'wght' 200, 'wdth' 100;
}

#scrollable p {
    font-family: 'GT Eesti Pro Display';
    font-size: 3vw;
    padding: 15rem;
    margin-bottom: 15rem;
    color: white;
}

#scrollable #start-button {
    margin: 15rem;
}