/* Cube.css */

.cube-content {
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 1em;
    border-radius: 4px;
  }
  
  .cube-content h1 {
    font-size: 2em;
  }
  
  .cube-content p {
    font-size: 1em;
  }
  
  .cube-content button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  